* {
  margin: 0px;
  padding: 0px;
}
.clear_fix {
  clear: both;
}
.content_block {
  padding: 2% 0;
}
.content_text {
  /*Add font family here*/
}
.content_title {
  font-size: 20px;
  font-weight: bold;
  padding-left: 2%;
}
.content_description {
  font-size: 16px;
  text-indent: 2em;
}
body {
  padding: 0 1%;
}
.text_bold {
  font-weight: bold;
}
