* {
  margin: 0px;
  padding: 0px;
  font-family: 'Jost';
}

body {
  background-color: whitesmoke;
}

.clear-fix {
  clear: both;
}

.content-block {
  padding: 2% 0;
}

.content-title {
  font-size: 20px;
}

.content-text {
  /*Add font family here*/
  font-family: 'Jost';
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
  font-size: 18px;
}