.main-container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.main-container-title {
  font-size: 48px;
  text-align: center;
  width: 100%;
  padding: 36px 0 36px 0;
  color: #2F5D8C;
}

#footer {
  padding: 30px 10px;
  border-radius: 0 0 10px 10px;
  height: 220px;
  background-color: #363839;
}

.main-seperator {
  height: 100px;
  background-color: #2F5D8C;
}

.container-odd {
  background-color: #cfdee9;
}

.container-even {
  background-color: #9cbbd2;
}

.content-block {
  padding: 0 8% 6% 8%;
}

.image-set {
  margin: 2% 0;
  border-radius: 5px;
}

.index-inner-block {
  padding: 0 2%;
}

#index {
  background-image: url("../images/home01.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 10px 10px 0 0;
}

.index-text-title {
  font-weight: bold;
  color: rgb(203, 13, 13);
  display: block;
}

.index-contact {
  color: #000472;
}

.index-text-start-span {
  font-weight: bold;
}

.index-text-center {
  text-align: center !important;
}

.index-text-title-right {
  text-align: right !important;
}

.index-text-description {
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 10px;
  color: rgb(27, 26, 154);
}

.index-plugin-component {
  border-radius: 5px;
}

.domestic-block {
  float: left;
  width: 50%;
}

.domestic-text-block {
  width: 100%;
  margin: 0 auto;
  /* padding-left: 20px; */
}

.domestic-text-description {
  text-align: center;
}

.domestic-image-block {
  width: 60%;
  text-align: right;
  /* padding-right: 20px; */
}

.domestic-image {
  width: inherit;
  border-radius: 5px;
}

.domestic-image-set-container {}

.domestic-image-set {
  width: 29%;
}

.international-block {
  float: right;
}

.international-image-block {
  width: 60%;
}

.international-text-block {
  width: 40%;
  text-align: left;
  padding-left: 5%;
}

.international-image-set {
  width: 100%;
  border-radius: 5px;
}

.packing-image-set-container {}

.packing-image-set {
  width: 29%;
}

.packing-image-set-1 {
  width: 35%;
}

.packing-image-set-2 {
  width: 19.7%;
}

.aboutus-image-big {
  width: 50%;
}

.aboutus-image-set {
  width: 20%;
}

.aboutus-text-bold {
  text-decoration: underline;
  color: #000472;
}

.aboutus-warehouse-text {
  color: #000472;
}

.footer-block {
  width: 48%;
  color: gainsboro;
}

.footer-block-left {
  float: left;
  text-align: left;
  /* margin-top: 20px; */
}

.footer-block-right {
  float: right;
  text-align: right;
}

.sitemap-title {
  font-size: 18px;
  border-bottom: 1px solid gainsboro;
}

#footer-sitemap-list {
  margin-top: 10px;
}

#footer-sitemap-list li {
  list-style: none;
}

#footer-sitemap-list li a {
  text-decoration: none;
  color: gainsboro;
}

#footer-sitemap-list li a:hover {
  color: rgb(27, 26, 154);
}

.footer-contact-title {
  line-height: 48px;
}

.footer-logo {
  height: 48px;
  margin-left: -3px;
}

.footer-contact-email {
  font-size: 16px;
}

.footer-contact-logo {
  width: 24px;
}

.footer-inline-block {
  float: left;
}


@media only screen and (max-width: 1279px) {
  #index {
    background-position: center top;
    background-position-x: 65%;
    height: 1108px;
  }

  .index-text-title {
    font-size: 24px;
  }

  .index-contact {
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
  }

  .index-contact-email {
    font-size: 20px;
  }

  .index-contact-logo {
    width: 32px;
  }

  .index-contact-span {
    line-height: 22px;
  }

  #index-content {
    margin-bottom: 120px;
  }

  #index-plugin {
    margin-top: 20px;
  }

  .index-text {
    text-align: left;
    padding: 20px;
  }

  .index-text-title {
    text-align: center;
    font-size: 26px;
  }

  .index-text-description {
    font-size: 18px;
    margin: 0 3%;
  }

  .index-plugin-component {
    width: 100%;
    height: 480px;
  }

  .index-block {
    padding: 0 1%;
  }

  .index-inner-block {
    width: 50%;
    float: left;
  }

  .index-text-start-span {
    font-size: 20px;
  }

  .aboutus-map-component {
    margin-top: 15px;
    height: 320px;
    width: 420px;
  }
}

@media only screen and (min-width: 1280px) {
  #index {
    background-position: center right;
    height: 980px;
  }

  .index-text-title {
    font-size: 36px;
  }

  .index-contact {
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 22px;
  }

  .index-contact-email {
    font-size: 26px;
  }

  .index-contact-logo {
    width: 40px;
  }

  #index-content {
    width: 73%;
    padding-left: 60px;
  }

  #index-plugin {
    width: 27%;
    max-width: 320px;
  }

  .index-block {
    float: left;
  }

  .index-text {
    text-align: left;
    padding: 20px;
  }

  .index-text-description {
    max-width: 440px;
    font-size: 22px;
  }

  .index-plugin-component {
    width: 295px;
    height: 240px;
  }

  .index-text-start-span {
    font-size: 24px;
  }

  .aboutus-block {
    float: left;
    padding-left: 30px;
  }

  .aboutus-map-component {
    height: 320px;
    width: 480px;
  }
}