#header-logo {
  text-align: center;
}

#header-logo a {
  text-decoration: none;
}

.menu-button a {
  text-decoration: none;
  color: #2F5D8C;
}

.menu-button a:hover {
  color: rgb(27, 26, 154);
}

.menu-button {
  display: inline-block;
  list-style: none;
  margin: 0 4%;
  font-weight: bold;
}

#header-company {
  color: rgb(27, 26, 154);
}

@media only screen and (max-width: 1279px) {
  #header-menu {
    padding: 2%;
  }

  #header-menu {
    background: none;
  }

  .main-logo {
    height: 60px;
  }

  #header-navigation {
    margin-top: 2%;
  }
}

@media only screen and (min-width: 1280px) {
  #header-menu {
    padding: 2% 4% 0;
  }

  #header-logo {
    float: left;
  }

  .main-logo {
    height: 80px;
  }

  #navigation-list {
    margin-top: 2%;
    padding-left: 35%;
  }

  #header-company {
    height: 80px;
    margin-left: 10px;
  }
}