#header-menu {
  background:none;
  height: 120px;
  padding: 20px;
}
.main-logo {
  height: 80px;
}
#header-logo {
  float: left;
  text-align: center;
  margin-left: 30px;
}

#header-company {
  height: 80px;
  float: left;
  margin-left: 10px;
  color: rgb(27, 26, 154);
}
#navigation-list {
  float: right;
  padding-right: 100px;
}
.menu-button {
  float: right;
  list-style: none;
  margin: 30px;
  font-weight: bold;
}
.menu-button a {
  text-decoration: none;
  color: #2F5D8C;
}
.menu-button a:hover {
  color: rgb(27, 26, 154);
}